.main .teaser {
    color: #000

    .card {
        .teaser-image {
            order: 1;
          }
          
          .teaser-title {
            order: 2;
          }
          
          .teaser-pre-title {
            order: 3;
          }
          
          .teaser-body {
            order: 4;
          }
    }
}